/*
*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*
*/

/* =Reset
----------------------------------------------- */
@import "reset";
/* =Twitter Bootstrap
----------------------------------------------- */
@import "bootstrap";
//@import "bootstrap-responsive";

/* =Global
----------------------------------------------- */

header {
	text-align: center;

	&.heading {
		padding: 30px;
	}
}

.main {
	padding-right: 150px;
}

.tab-pane {
	text-align: center;

	p {
		//font-size:;
		margin: 20px auto;
	}
}

.vid-wrapper {
	width: 360px;
	margin: 0 auto;
	padding-top: 50px;
}

#promo-vid {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	position: relative;
	top: 0;
	left: -60px;
}

.vid-controls {
	width: 130px;
	margin: 70px auto;
}


/* =Media Queries / Responsive Styles Imports
----------------------------------------------- */
@import "desktop";
@import "tablet";
@import "mobile";
@import "device-specific";
