/*
*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*
*/

/* =Reset
----------------------------------------------- */
@import "reset";
/* =Twitter Bootstrap
----------------------------------------------- */
@import "bootstrap";
//@import "bootstrap-responsive";

/* =Global
----------------------------------------------- */
body {
	//background-image: url('../img/bg/dark1.png');
	//color: white;
}

header {
	background-image: url('../img/bg/light1.png');
	text-align: center;
	border-bottom: solid 1px #ccc;

	&.heading {
		padding: 30px;
	}
}

.wrapper {
	min-height: 450px;

	.main {
		ul.nav-tabs {
		}
	}
}

.tab-pane {
	text-align: center;
	overflow: hidden;

	p {
		//font-size:;
		margin: 20px auto;
	}
}

.vid-wrapper {
	width: 360px;
	margin: 0 auto;
	padding-top: 50px;
}

#promo-vid {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	position: relative;
	top: 0;
	left: -60px;
}

.vid-controls {
	width: 130px;
	margin: 70px auto;
}

.youtube-vid {
	margin-bottom: 50px;
}

footer {
	background-image: url('../img/bg/light1.png');
	text-align: center;
	border-top: solid 1px #ccc;
}


/* =Media Queries / Responsive Styles Imports
----------------------------------------------- */
@import "desktop";
@import "tablet";
@import "mobile";
@import "device-specific";
